    <footer class="main-footer">
      <div class="footer">
        <div class="footer-items special-footer">
          <h2 class="morent__logo">MORENT</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, architecto.</p>
        </div>
        <div class="footer-items">
          <h6>About</h6>
          <a href="#">Howitworks</a>
          <a href="#">Featured</a>
          <a href="#">Partnership</a>
          <a href="#">Bussiness Relation</a>
        </div>
        <div class="footer-items">
          <h6>Community</h6>
          <a href="#">Events</a>
          <a href="#">Blog</a>
          <a href="#">Podcast</a>
          <a href="#">Invite a friend</a>
        </div>
        <div class="footer-items">
          <h6>Socials</h6>
          <a href="#">Discord</a>
          <a href="#">Intagram</a>
          <a href="#">Twitter</a>
          <a href="#">Facebook</a>
        </div>
      </div>  
    </footer>