<section class="hero block container">
  <div class="hero__text">
    <h1>Rent your Dream Car <br />Around the World</h1>
    <p>
      We provide the best car options, with premium customer services at a
      competitive price
    </p>
  </div>
  <img
    src="/assets/images/hero.c422078b650affce4d14.png"
    alt="hero image car"
  />
  <div class="hero__search-field">
    <div class="hero__search-input">
      <p>Car type</p>
      <input type="text" placeholder="type" />
    </div>
    <div class="hero__search-input">
      <p>Location</p>
      <input type="text" placeholder="eg. 221B Baker Street" />
    </div>
    <button class="btn">Search</button>
  </div>
</section>
