<header class="nav__bar">
  <nav class="nav">
    <div class="search__bar">
      <p class="morent__logo">MORENT</p>
      <form class="nav__form">
        <img class="icon" src="/assets/images/search.svg" alt="search" />
        <input
          type="text"
          class="nav__serach-bar"
          placeholder="Search something here"
        />
      </form>
    </div>
    <ul class="nav__list">
      <li><img src="/assets/images/like.svg" alt="fav " /></li>
      <li><img src="/assets/images/notif.svg" alt="notif" /></li>
      <li>
        <img class="nav__user" src="/assets/images/user.jpg" alt="user" />
      </li>
    </ul>
  </nav>
</header>
