<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/font.css" />
  </head>
  <body>
    <section class="recommend container">
      <div class="heading">
        <p>Recommended</p>
      </div>
      <div class="suggested__catalogs">
        <div class="catalog">
          <div class="catalog__heading">
            <div class="catalog__header">
              <h3>Koemigsegg</h3>
              <p>Sport</p>
            </div>
            <img class="icon" src="assets/images/like.svg" alt="" />
          </div>
          <div class="catalog__img">
            <img src="/assets/images/car_0.3d32b6b2cef2f68f936a.png" alt="" />
          </div>
          <div class="catalog__description">
            <div class="catalog__description-section">
              <img src="assets/images/benzin.svg" alt="" />
              <p>90L</p>
            </div>
            <div class="catalog__description-section">
              <img src="assets/images/dande.svg" alt="" />
              <p>Automatic</p>
            </div>
            <div class="catalog__description-section">
              <img src="assets/images/people.svg" alt="" />
              <p>2People</p>
            </div>
          </div>
          <div class="catalog__price">
            <p>
              $99.00/
              <span>day</span>
            </p>
            <button class="btn">Rent now</button>
          </div>
        </div>
        <div class="catalog">
          <div class="catalog__heading">
            <div class="catalog__header">
              <h3>Nossan GT-R</h3>
              <p>Sport</p>
            </div>
            <img class="icon" src="assets/images/like.svg" alt="" />
          </div>
          <div class="catalog__img">
            <img src="assets/images/cr2.png" alt="car" />
          </div>
          <div class="catalog__description">
            <div class="catalog__description-section">
              <img src="assets/images/benzin.svg" alt="" />
              <p>80L</p>
            </div>
            <div class="catalog__description-section">
              <img src="assets/images/dande.svg" alt="" />
              <p>Automatic</p>
            </div>
            <div class="catalog__description-section">
              <img src="assets/images/people.svg" alt="" />
              <p>2People</p>
            </div>
          </div>
          <div class="catalog__price">
            <p>
              $80.00/
              <span>day</span>
            </p>
            <button class="btn">Rent now</button>
          </div>
        </div>
        <div class="catalog">
          <div class="catalog__heading">
            <div class="catalog__header">
              <h3>Rolls-Roys</h3>
              <p>Sedan</p>
            </div>
            <img class="icon" src="assets/images/like.svg" alt="" />
          </div>
          <div class="catalog__img">
            <img src="assets/images/cr3.png" alt="car" />
          </div>
          <div class="catalog__description">
            <div class="catalog__description-section">
              <img src="assets/images/benzin.svg" alt="" />
              <p>70L</p>
            </div>
            <div class="catalog__description-section">
              <img src="assets/images/dande.svg" alt="" />
              <p>Manual</p>
            </div>
            <div class="catalog__description-section">
              <img src="assets/images/people.svg" alt="" />
              <p>4People</p>
            </div>
          </div>
          <div class="catalog__price">
            <p>
              $96.00/
              <span>day</span>
            </p>
            <button class="btn">Rent now</button>
          </div>
        </div>
        <div class="catalog">
          <div class="catalog__heading">
            <div class="catalog__header">
              <h3>All New Rush</h3>
              <p>Suv</p>
            </div>
            <img class="icon" src="assets/images/like.svg" alt="" />
          </div>
          <div class="catalog__img">
            <img src="assets/images/cr4.png" alt="car" />
          </div>
          <div class="catalog__description">
            <div class="catalog__description-section">
              <img src="assets/images/benzin.svg" alt="" />
              <p>70L</p>
            </div>
            <div class="catalog__description-section">
              <img src="assets/images/dande.svg" alt="" />
              <p>Manual</p>
            </div>
            <div class="catalog__description-section">
              <img src="assets/images/people.svg" alt="" />
              <p>6People</p>
            </div>
          </div>
          <div class="catalog__price">
            <p>
              $72.00/
              <span>day</span>
            </p>
            <button class="btn">Rent now</button>
          </div>
        </div>
        <div class="catalog">
          <div class="catalog__heading">
            <div class="catalog__header">
              <h3>CR-V</h3>
              <p>Suv</p>
            </div>
            <img class="icon" src="assets/images/like.svg" alt="" />
          </div>
          <div class="catalog__img">
            <img src="assets/images/cr5.png" alt="car" />
          </div>
          <div class="catalog__description">
            <div class="catalog__description-section">
              <img src="assets/images/benzin.svg" alt="" />
              <p>80L</p>
            </div>
            <div class="catalog__description-section">
              <img src="assets/images/dande.svg" alt="" />
              <p>Manual</p>
            </div>
            <div class="catalog__description-section">
              <img src="assets/images/people.svg" alt="" />
              <p>6People</p>
            </div>
          </div>
          <div class="catalog__price">
            <p>
              $80.00/
              <span>day</span>
            </p>
            <button class="btn">Rent now</button>
          </div>
        </div>
        <div class="catalog">
          <div class="catalog__heading">
            <div class="catalog__header">
              <h3>All New Terios</h3>
              <p>Suv</p>
            </div>
            <img class="icon" src="assets/images/like.svg" alt="" />
          </div>
          <div class="catalog__img">
            <img src="assets/images/cr6.png" alt="car" />
          </div>
          <div class="catalog__description">
            <div class="catalog__description-section">
              <img src="assets/images/benzin.svg" alt="" />
              <p>90L</p>
            </div>
            <div class="catalog__description-section">
              <img src="assets/images/dande.svg" alt="" />
              <p>Manual</p>
            </div>
            <div class="catalog__description-section">
              <img src="assets/images/people.svg" alt="" />
              <p>6People</p>
            </div>
          </div>
          <div class="catalog__price">
            <p>
              $74.00/
              <span>day</span>
            </p>
            <button class="btn">Rent now</button>
          </div>
        </div>
        <div class="catalog">
          <div class="catalog__heading">
            <div class="catalog__header">
              <h3>Koemigsegg</h3>
              <p>Sport</p>
            </div>
            <img class="icon" src="assets/images/like.svg" alt="" />
          </div>
          <div class="catalog__img">
            <img src="/assets/images/car_0.3d32b6b2cef2f68f936a.png" alt="" />
          </div>
          <div class="catalog__description">
            <div class="catalog__description-section">
              <img src="assets/images/benzin.svg" alt="" />
              <p>90L</p>
            </div>
            <div class="catalog__description-section">
              <img src="assets/images/dande.svg" alt="" />
              <p>Automatic</p>
            </div>
            <div class="catalog__description-section">
              <img src="assets/images/people.svg" alt="" />
              <p>2People</p>
            </div>
          </div>
          <div class="catalog__price">
            <p>
              $99.00/
              <span>day</span>
            </p>
            <button class="btn">Rent now</button>
          </div>
        </div>
        <div class="catalog">
          <div class="catalog__heading">
            <div class="catalog__header">
              <h3>Nossan GT-R</h3>
              <p>Sport</p>
            </div>
            <img class="icon" src="assets/images/like.svg" alt="" />
          </div>
          <div class="catalog__img">
            <img src="assets/images/cr2.png" alt="car" />
          </div>
          <div class="catalog__description">
            <div class="catalog__description-section">
              <img src="assets/images/benzin.svg" alt="" />
              <p>80L</p>
            </div>
            <div class="catalog__description-section">
              <img src="assets/images/dande.svg" alt="" />
              <p>Automatic</p>
            </div>
            <div class="catalog__description-section">
              <img src="assets/images/people.svg" alt="" />
              <p>2People</p>
            </div>
          </div>
          <div class="catalog__price">
            <p>
              $80.00/
              <span>day</span>
            </p>
            <button class="btn">Rent now</button>
          </div>
        </div>
        <div class="catalog">
          <div class="catalog__heading">
            <div class="catalog__header">
              <h3>Rolls-Roys</h3>
              <p>Sedan</p>
            </div>
            <img class="icon" src="assets/images/like.svg" alt="" />
          </div>
          <div class="catalog__img">
            <img src="assets/images/cr3.png" alt="car" />
          </div>
          <div class="catalog__description">
            <div class="catalog__description-section">
              <img src="assets/images/benzin.svg" alt="" />
              <p>70L</p>
            </div>
            <div class="catalog__description-section">
              <img src="assets/images/dande.svg" alt="" />
              <p>Manual</p>
            </div>
            <div class="catalog__description-section">
              <img src="assets/images/people.svg" alt="" />
              <p>4People</p>
            </div>
          </div>
          <div class="catalog__price">
            <p>
              $96.00/
              <span>day</span>
            </p>
            <button class="btn">Rent now</button>
          </div>
        </div>
        <div class="catalog">
          <div class="catalog__heading">
            <div class="catalog__header">
              <h3>All New Rush</h3>
              <p>Suv</p>
            </div>
            <img class="icon" src="assets/images/like.svg" alt="" />
          </div>
          <div class="catalog__img">
            <img src="assets/images/cr4.png" alt="car" />
          </div>
          <div class="catalog__description">
            <div class="catalog__description-section">
              <img src="assets/images/benzin.svg" alt="" />
              <p>70L</p>
            </div>
            <div class="catalog__description-section">
              <img src="assets/images/dande.svg" alt="" />
              <p>Manual</p>
            </div>
            <div class="catalog__description-section">
              <img src="assets/images/people.svg" alt="" />
              <p>6People</p>
            </div>
          </div>
          <div class="catalog__price">
            <p>
              $72 .00/
              <span>day</span>
            </p>
            <button class="btn">Rent now</button>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
